<div class="page-header">
  <%= link_to comments_path, class: 'btn btn-default' do %>
    All Comments
  <% end %>
  <%= link_to edit_comment_path(@comment), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show comment</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @comment.user %></dd>
  <dt>Body:</dt>
  <dd><%= @comment.body %></dd>
</dl>

<%= render partial: "shared/likes", locals: {record: @comment} %>